.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-primary {
  color: #db9e3f;
}

.bg-primary {
  background-color: #db9e3f;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-blue {
  color: #1982C4;
}

.bg-blue {
  background-color: #1982C4;
}

.text-cadet {
  color: #222E50;
}

.bg-cadet {
  background-color: #222E50;
}

.text-green-light {
  color: #BBD0B5;
}

.bg-green-light {
  background-color: #BBD0B5;
}

.text-green {
  color: #28965A;
}

.bg-green {
  background-color: #28965A;
}

.text-purple {
  color: #6A4C93;
}

.bg-purple {
  background-color: #6A4C93;
}

.text-opal {
  color: #85B6BA;
}

.bg-opal {
  background-color: #85B6BA;
}

.text-blue-light-2 {
  color: #9FBBCC;
}

.bg-blue-light-2 {
  background-color: #9FBBCC;
}

.text-blue-light-1 {
  color: #8DACC9;
}

.bg-blue-light-1 {
  background-color: #8DACC9;
}

.text-violet {
  color: #8C6E91;
}

.bg-violet {
  background-color: #8C6E91;
}

.text-red {
  color: #FF595E;
}

.bg-red {
  background-color: #FF595E;
}

.text-grey-2 {
  color: #d4d9de;
}

.bg-grey-2 {
  background-color: #d4d9de;
}

.text-main-amber {
  color: #f1e9af;
}

.bg-main-amber {
  background-color: #f1e9af;
}

.fs-xxs {
  font-size: 0.75rem;
}

.fs-xs {
  font-size: 0.8125rem;
}

.fs-sm-1 {
  font-size: 0.875rem;
}

.fs-sm {
  font-size: 0.9375rem;
}

.fs-md {
  font-size: 1.0625rem;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.border-left {
  border-left: solid 1px #d4d9de;
}

.border-top {
  border-top: solid 1px #d4d9de;
}

.border-right {
  border-right: solid 1px #d4d9de;
}

.border-bottom {
  border-bottom: solid 1px #d4d9de;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1 1 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-bold {
  font-weight: bold;
}

.max-width-100 {
  max-width: 100%;
}

.row {
  width: 100%;
  margin: 0;
}
